<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="center-block">{% if logo %}<a href="{{ home }}"><img src="{{ logo }}" title="{{ name }}" alt="{{ name }}" class="img-responsive" /></a>{% else %}
                    <h1><a href="{{ home }}">{{ name }}</a></h1>
                    {% endif %}</div>
                    <address>
                        <strong>Bohemia</strong><br>
                        125 Gagarina, <br>
                        Kharkiv, UA<br>
                    </address>
                </div>
                {% if informations %}
                    <div class="col-sm-3">
                        <h5>{{ text_information }}</h5>
                        <ul class="list-unstyled">
                            {% for information in informations %}
                                <li><a href="{{ information.href }}">{{ information.title }}</a></li>
                                {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                <div class="col-sm-3">
                    <h5>{{ text_service }}</h5>
                    <ul class="list-unstyled">
                        <li><a href="{{ contact }}">{{ text_contact }}</a></li>
                        <li><a href="{{ return }}">{{ text_return }}</a></li>
                        <li><a href="{{ sitemap }}">{{ text_sitemap }}</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>{{ text_extra }}</h5>
                    <ul class="list-unstyled">
                        <li><a href="{{ manufacturer }}">{{ text_manufacturer }}</a></li>
                        <li><a href="{{ voucher }}">{{ text_voucher }}</a></li>
                        <li><a href="{{ affiliate }}">{{ text_affiliate }}</a></li>
                        <li><a href="{{ special }}">{{ text_special }}</a></li>
                    </ul>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-12 text-center">
                    {{ powered }}
                </div>
            </div>
        </div>
    </footer>
    {% for script in scripts %}
        <script src="{{ script }}" type="text/javascript"></script>
    {% endfor %}
</body></html>